
:root {
    --link-color: white;
    --accent-color: #F67264;
    --color-positive: #7BF972;
    --background-main-color: white;
    --font-color: #3B2D2D;
}

html {
    color: var(--font-color);
    font-family: "Helvetica";
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: white;
    height: 3rem;
    padding: 1rem;
    border-bottom: 1px solid var(--accent-color);
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Footer {
    position: absolute;
    bottom: 0;
    height: 3.69rem;
    padding: 1rem;
    background-color: var(--accent-color);
    width: 100%;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: var(--link-color);
}

.Footer a {
    font-size: 1.5rem;
}

.TextInput {
    height: 1.3rem;
}

.PriceBox {
    border-right: 3px solid var(--accent-color);
    border-left: 3px solid var(--accent-color);
    color: var(--accent-color);
    padding-top: 0.5rem;
}

.ListItem {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    align-items: stretch;
    justify-items: center;
}

.InputStart {
    border-bottom: 1px solid var(--accent-color);
    text-align: left;
    height: 2rem;
    padding: 0.5rem;
}


.font-accent {
    color: var(--accent-color)
}

.bg-accent {
    background-color: var(--accent-color)
}
