.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #BBBBBB;
  height: 1.4rem;
  padding: 1rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Footer {
    position: absolute;
    bottom: 0;
    height: 3.69rem;
    background-color: #BBBBBB;
    width: 100%;
}
